---
---

@import "{{ site.theme }}";

header {
    h1, h2 {
        width: auto !important;
    }
}

.content-cat-nav {
    margin-top: 1em;
    border-top: solid 1px #ddd;
    padding-top: 1em;

    .content-cat-nav-prev {
        float: left;

        a:before {
            content: "\00ab\00a0";
        }
    }

    .content-cat-nav-next {
        float: right;

        a:after {
            content: "\00a0\00bb";
        }
    }
}
